@charset "utf-8";
/*清除默认样式*/
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style-type: none;
}
input,
textarea,
select,
button {
  outline: none;
  background-color: transparent;
  border: none;
}
em,
i {
  font-style: normal;
}
a {
  text-decoration: none;
}
/* 去掉图片下的间距 */
img {
  vertical-align: top;
}
/*清浮动*/
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.title_box {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* width: 100%; */
  height: 8vh;
  background: pink;
  line-height: 68px;
}
.title_box span:nth-child(1) {
  font-weight: 200;
  color: white;
  margin-left: 20px;
}
.user_zujian {
  height: 8vh;
  background: pink;
  margin-top: -2px;
}
.el-menu-demo {
  border-bottom: 0px 0px solid;
}
.user_right {
  float: right;
  margin-right: 50px;
}
.title_box span em {
  margin-left: 20px;
}
